@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
}
body {
  background: #141414;
  color: #ffffff;
  /* background: #ffffff;
  color: #141414; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0.4em;
  background-color: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
body::-webkit-scrollbar {
  width: 0.5em;
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
}